.blog {
    &__heading {
        color: black;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-gap: 30px;
    }

    &__card {
        position: relative;
        width: 370px;
        height: 396px; 

        &-item {
            left: 30px;
            position: absolute;
            width: 61px;
            height: 65px;
            background-color: #fcdb5a;
            padding: 6px 17px;
            box-sizing: border-box;
        }

        &-bottom-text {
            position: absolute;
            left: 29px;
            bottom: 24px;
        }

        &-text {
            margin: 0;
            color: #9a8841;
            font-size: 12px;
            font-weight: 700;
        }

        &-number {
            margin: 0;
            color: #333333;
            font-size: 25px;
            font-weight: 800;
            text-transform: uppercase;
        }

        &-heading {
            color: #ddc051;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }

        &-text-bottom {
            color: #ffffff;
            font-size: 18px;
            margin: 0;
        }
    }
}

.logos {
    margin-top: 126px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    align-items: center;
}