.section {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.slogan {
    width: 100%;
    position: relative;

    &__photo-1 {
        width: 719px;
        height: 492px;
    }

    &__photo-2 {
        position: absolute;
        left: 428px;
        bottom: 36px;
        width: 329px;
        height: 492px;
    }

    &__photo-3 {
        position: absolute;
        left: 458px;
        bottom: 61px;
        width: 275px;
        height: 444px;
    }

    &__text {
        position: absolute;
        left: 648px;
        bottom: 60px;
        width: 514px;
        height: 424px;
        font-size: 60px;
        font-weight: 400;
        line-height: 100px;
        margin: 0;

        .yellow {
            color: #fcdb5a;
        }

        .red {
            color: #db2985;
        }

        .green {
            color: #72aa41;
        }

        .orange {
            color: #f2a137;
        }

        .blue {
            color: #4fb1c9;
        }
    }
}